# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/components/Example.js
src/components/Example2.js
src/components/Example3_1.js
src/components/Example3.js
src/components/Example4_1.js
src/components/Example4.js
src/components/Example5_1.js
src/components/Example5.js
src/components/Box_challenge1.js
src/boxes.js
src/components/Box1.js
src/components/Joke.js
src/components/Conditional.js
src/jokesData.js
src/components/Form.js
src/components/API.js
.gitignore

src/memesData.js
src/components/Window1.js
src/components/WindowTracker.js
